/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center;
}

#navbar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.site p{
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    margin: 12px;
}

#logo{
    margin: 34px 45px;
}

#logo img{
    height: 53px;
    margin: -23px -35px;
    border: 2px solid black;
    border-radius: 50px;
}

#navbar{
    position: relative;
}

#navbar ul{
    margin-left: 650px;
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: white;
    background-color: #004225;
}

.picture{
    background-color: #e6f5e0;
    display: flex;
    flex-direction: row;
}

.picture div{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
}

.picture div img{
    height: 650px;
    border-radius: 20px;
}

.picture div p{
    font-family: 'Dancing Script', cursive;
    margin-top: 200px;
    font-size: 50px;
}

.text{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 180px;
    margin-right: 180px;
    border: 2px solid black;
    padding: 50px;
    border-radius: 100px;
}

.text p{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: #011f12;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 150px;
    grid-row-gap: 15px;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #D0E7D2;
    height: 200px;
    width: 500px;
    opacity: 0.8;
}